@model IEnumerable<Argo.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ARGO</h1>
    <p class="lead">ARGO is a easy-to-use platform to schedule transportation via bus from your local area to a group event.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<!--<form method="get" action="http://www.mysite.com/search.php">-->
    <table bgcolor="#FFFF00" cellpadding="0px" cellspacing="0px">
        <tr>
            <td style="border-style:none;">
                <div style="background: url(roundbox.gif) no-repeat left top; padding: 0px; height: 22px;">
                    <input type="text" name="zoom_query" style="border: ridge; background-color: lightyellow; width: 700px; padding-left: 5px; padding-right: 5px;">
                </div>
            </td>
            <td style="border-style:none;">
                <input type="submit" value="" style="border-style: none; background: url('searchbutton1.gif') no-repeat; width: 24px; height: 22px;">
            </td>
            Search By:
            <select name="filter1">
                <option value="Destination">Destination</option>
                <option value="Date">Date</option>
                <option value="Start Location">Start Location</option>
            </select>
        </tr>
    </table>

<br><br/>
<div class="row">
    <h2 class="col-md-12"> Popular Events </h2> 
    @foreach(var item in Model)
    {
        <div class="col-md-4">
            <h2> @Html.DisplayFor(modelItem => item.Event)</h2>
            <p>@Html.DisplayFor(modelItem => item.EventDescription)</p>
            <p> From: @Html.DisplayFor(modelItem => item.Departure)  To: @Html.DisplayFor(modelItem => item.Destination) </p>
            <p> Seats Available: @Html.DisplayFor(modelItem => item.Bus.SeatsAvailable)</p>
            <p> Price: $@Html.DisplayFor(modelItem => item.Bus.PricePerSeat) </p>

            <style type="text/css">
                .tg {
                    border-collapse: collapse;
                    border-spacing: 0;
                    margin: 0px auto;
                }

                    .tg td {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        padding: 20px 10px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg th {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 20px 10px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg .tg-4mn7 {
                        background-color: #ffffff;
                        border-color: #fff;
                        
                        color: #000;
                    }

                    .tg .tg-pszp {
                        font-style: italic;
                        text-decoration: underline;
                        background-color: #fe0000;
                        color: #000000;
                        text-align: center;
                    }

                    .tg .tg-o7u3 {
                        font-weight: bold;
                        background-color: #fe0000;
                        color: #000000;
                        text-align: center;
                    }
            </style>
            <table class="tg">
                <tr>
                    <th class="tg-4mn7"> 50 </th>
                    <th class="tg-pszp"></th>
                </tr>
                <tr>
                    <td class="tg-4mn7"> 40 </td>
                    <td class="tg-o7u3"></td>
                </tr>
                <tr>
                    <td class="tg-4mn7"> 30 </td>
                    <td class="tg-o7u3"></td>
                </tr>
                <tr>
                    <td class="tg-4mn7"> 20 </td>
                    <td class="tg-o7u3"></td>
                </tr>
                <tr>
                    <td class="tg-4mn7"> 10 </td>
                    <td class="tg-o7u3"></td>
                </tr>
            </table>
            
            <br><br/>
            <p>@Html.ActionLink("Reserve Seat", "Details", "Trips", new { id = item.Id }, new { @class = "btn btn-default" })</p>
        </div>
    }
</div>




<!--<div>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0px auto;
            float: inherit;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 20px 10px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 20px 10px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-pszp {
                font-style: italic;
                text-decoration: underline;
                background-color: #fe0000;
                color: #000000;
            }

            .tg .tg-o7u3 {
                font-weight: bold;
                background-color: #fe0000;
                color: #000000;
            }
    </style>

    <table class="tg">
        <tr>
            <th class="tg-pszp"></th>
        </tr>
        <tr>
            <td class="tg-o7u3"></td>
        </tr>
        <tr>
            <td class="tg-o7u3"></td>
        </tr>
        <tr>
            <td class="tg-o7u3"></td>
        </tr>
        <tr>
            <td class="tg-o7u3"></td>
        </tr>
    </table>
</div>
                </div> -->