@model IEnumerable<Argo.Models.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model.Take(3))
{
    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.Event)</h2>
        <p>@Html.DisplayFor(modelItem => item.EventDescription)</p>
        <p> From: @Html.DisplayFor(modelItem => item.Departure)  To: @Html.DisplayFor(modelItem => item.Destination) </p>
        <p> Date: @item.DepartTime.ToShortDateString()</p>
        <p> Depart Time: @Html.DisplayFor(modelItem => item.DepartTime.TimeOfDay) Return Time: @Html.DisplayFor(modelItem => item.ReturnTime.TimeOfDay)</p>
        <p> @Html.DisplayFor(modelItem => item.TypeDisplay)</p>
        <p> Seats Available: @Html.DisplayFor(modelItem => item.Bus.SeatsAvailable)</p>
        <p> Price: $@Html.DisplayFor(modelItem => item.Bus.PricePerSeat) </p>
        <p>@Html.ActionLink("Reserve Seat", "Details", "Trips", new { id = item.Id }, new { @class = "btn btn-default" })</p>
    </div>
}
